[2021-06-12 12:41] SbrezVis opened #269 "Explanation - Degeneracy detection in SFM - uncalibrated MVS"
Hi all,
I have noticed that in the android app under structure from motion - uncalibrated mvs, there is a functionality of degeneracy detection that appears in two ways:
a. When I only rotate the phone I get a message saying "Translate! dont just rotate".
b. When I'm sending images to reconsturction when only rotation took place, I get a message saying "metric failed".

1. Can someone please refer

[2021-06-14 11:11] ecmnet opened #270 "Question: Using TornadoVM to accelerate processing"
Using boofcv for several years now, I just wonder whether you have considered to support GPUs via TornadoVM [https://github.com/beehive-lab/TornadoVM](https://github.com/beehive-lab/TornadoVM) in order to accelerate processing.

[2021-06-14 14:56] lessthanoptimal opened #271 "PnP that can handle points in homogenous coordinates"
Needs to properly handle homogenous coordinates and not just convert them into 3D points. This way if points are far away they will not screw up the numerics and will effectively just contribute to the orientation estimate. If only points at infinity are found the translation component should be zero. This might require adding a slight bias to keeping it at (0,0,0).

[2021-06-16 04:45] lessthanoptimal commented on #269
Replied to this question on the message board.

https://groups.google.com/g/boofcv/c/DHaTtYjndnw

[2021-06-16 04:45] #269 closed, assigned to nobody

[2021-06-16 04:49] lessthanoptimal commented on #265
You would need to figure out a way to compile it as a native Java library.
The Kotlin support is a wrapper on top of the Java code to add some Kotlin
specific features.

There is still hope though! You might be able to use GraalVM for this. I've
never attempted to do this before.

https://www.graalvm.org/reference-manual/native-image/

On Mon, Jun 7, 2021 at 12:47 AM VirtualPierogi ***@***.***>
wr

[2021-06-16 13:10] LStampf opened #272 "jarchivelib dependency causes problems with up2date code setups"
Deepboof hasn't been released since 2017 and depends on a bunch of very old libraries which causes problems with up2date builds.

It depends on jarchivelib 0.5 which contains a  source code copy paste of org.apache.compress. If you now use https://commons.apache.org/proper/commons-compress/ in your project you will load different classes with the same name leading to all kind of classpath exceptio

[2021-06-16 13:36] TheBricktop commented on #265
Definitely gonna check it out.

[2021-06-16 14:03] lessthanoptimal commented on #265
GraalVM does claim some performance boosts,
https://www.graalvm.org/java/advantages/ but you might want to consider
running it as a separate process and using some interprocess communication
(IPC) to pass messages for you are interested in native code to call from
C++. Even in pure C++ projects, that's done a lot when reliability is a
concern. Popular in autonomous vehicles.

On Wed, Jun 16, 2021

[2021-06-16 14:05] lessthanoptimal commented on #272
Thanks for pointing that out. I'll update Deepboof. If you aren't using it
you can probably just remove it too. Not much depends on it.

On Wed, Jun 16, 2021 at 6:10 AM Lukas Stampf ***@***.***>
wrote:

--
"Now, now my good man, this is no time for making enemies."    — Voltaire
(1694-1778), on his deathbed in response to a priest asking that he
renounce Satan.

[2021-06-17 04:08] ApplicateIT-Thang commented on #232
Hi @lessthanoptimal,
Thank you for your update.
But I still get the issue when opening the saved model on another viewer.
<img width="497" alt="Screen Shot 2021-06-17 at 11 05 43" src="https://user-images.githubusercontent.com/73826280/122329812-4070b080-cf5c-11eb-8453-71f7236a85c2.png">
The model is not clear and could not be viewed.

[2021-06-17 09:51] LStampf commented on #272
@lessthanoptimal
Thanks, I will try if my QR Code Scanner runs without the dependency.

[2021-06-17 10:28] TheBricktop commented on #265
I dont have much experience in multithreading that much, but in Unity c# tasks are pretty roubust. I'll probably resort to async/await structure for data communication. Dll calls would be then handled by a background thread to decouple it from rendering tasks.

[2021-06-21 05:59] lessthanoptimal commented on #272
The SNAPSHOT branch "might" have a fix. I updated all the dependencies and updated the build script. Could you see if that was enough to fix the issue? Otherwise I'll have to do a more drastic change.

I've pushed the jars 0.5.1-SNAPSHOT to:

`maven { url = "https://oss.sonatype.org/content/repositories/snapshots/" }`

So you shouldn't need to build it locally.

[2021-06-21 09:35] rthaenert opened #273 "Template Matching: square error (SSE) normalized would be helpful"
For Template matching it would be nice if there is not only the `SUM_SQUARE_ERROR` for Template Matching but also something along the lines of `SUM_SQUARE_ERROR_NORMALIZED`.

Maybe i didn't find it, or is there currently no normalized error score available?

[2021-06-22 13:16] LStampf commented on #272
The update to jarchive 1.1.0 fixed the  problem because it now uses a different namespace for the compress classes.

Thanks!

[2021-06-22 13:28] lessthanoptimal commented on #272
No problem!

[2021-06-22 13:28] #272 closed, assigned to nobody

[2021-06-22 15:24] lessthanoptimal commented on #273
NCC would be the closest to what you're looking for. I'll add `SUM_SQUARE_ERROR_NORMALIZED`. To double check, you're looking for something like this ([link](https://docs.opencv.org/4.5.2/df/dfb/group__imgproc__object.html#gga3a7850640f1fe1f58fe91a2d7583695da5382c8f9df87e87cf1e9f9927dc3bc31)) right?

[2021-06-22 15:28] lessthanoptimal commented on #232
Looks like that viewer is incorrectly reading the PLY file and treating it like a set of triangles. Meshing won't make it into the up coming release, which is being finalized now, but should in the next one.

[2021-06-23 03:29] shirleyqing commented on #167
I got the task of stitching four pictures together which did not work very well with the example provided...

I was confused on the camera rotation part and the creations of Se3_F32 object for all camera... Any help on stitching multiple photos?

[2021-06-23 04:52] lessthanoptimal commented on #167
Which example are you talking about? I don't see anything for SE3
in ExampleImageStitching...

On Tue, Jun 22, 2021 at 8:29 PM shirleyqing ***@***.***>
wrote:

--
"Now, now my good man, this is no time for making enemies."    — Voltaire
(1694-1778), on his deathbed in response to a priest asking that he
renounce Satan.

[2021-06-23 05:15] shirleyqing commented on #167
https://github.com/lessthanoptimal/BoofCV/blob/v0.27/examples/src/boofcv/examples/calibration/ExampleFisheyeToEquirectangular.java
I'm looking into the ExampleFisheyeToEquirectangular.java, cause I have to stitch four photos token by fisheye camera to get a panorama.

The example shows how to stitch "tront_table.jpg" and "back_table.jpg" together. After getting the LensDistortionWideFOV and GrayU8

[2021-06-23 06:42] rthaenert commented on #273
Yes, exactly that's what i was looking for, thanks 👍

[2021-06-25 04:40] lessthanoptimal commented on #273
https://github.com/lessthanoptimal/BoofCV/pull/279

Looks like it's working correctly, but I only tested it on the example image. let me know if you find any issues.

[2021-06-30 07:49] shirleyqing commented on #167
Hello,

I have got chessboard images and the camera calibrated. To stitch four images taken from 4 perspective (front, right, back and left), I tried to use the code below:

		FMatrixRMaj adjR = ConvertRotation3D_F32.eulerToMatrix(EulerType.ZYX, GrlConstants.F_PI/4,0,0,null);
		FMatrixRMaj f2b = ConvertRotation3D_F32.eulerToMatrix(EulerType.XYZ, GrlConstants.F_PI/2,0,0,null);
		FMatrixRMaj f2b3 =

[2021-06-30 08:11] shirleyqing commented on #167
Also the four images that need to be stitched have some edging structure on the side of the images. If there is any requirement that request the image to be perfectly round circle? I'm guessing maybe because the images are not a good shape that causes the output result incorrect.

The images are as below
![image](https://user-images.githubusercontent.com/55365956/123924944-045a3880-d9bd-11eb-8390-

[2021-07-06 19:22] rthaenert commented on #273
Thank you for implementing that very fast, i only had a very brief look at the code - looks good.
I will take a detailed look at it this week and run some examples.

Minor thing: Only the single semicolon in line 100 (https://github.com/lessthanoptimal/BoofCV/pull/279/commits/f8a36bcecc9a6bc932c9e8d79577df0b285ff2cf#diff-d34a0d11d17917f3bd4d9463e7df6da983a81b5f8e2b296ce24424bb2d771379R100 ) might

[2021-07-06 19:39] lessthanoptimal commented on #273
Yep that semicolon was a mistake, thanks! The push for the next stable
release has started and should be finished in 1 or 2 weeks. If you would
like any modifications now is a good time for that!

On Tue, Jul 6, 2021 at 12:23 PM Ralf Thaenert ***@***.***>
wrote:

--
"Now, now my good man, this is no time for making enemies."    — Voltaire
(1694-1778), on his deathbed in response to a priest asking

[2021-07-17 21:25] c4da opened #284 "Alpha channel has random index"
When I convert Buffered Image to Planar<GrayF32> than the alpha channel can be sometimes found with rgbF32.getBand(0) and other times with rgbF32.getBand(3). Am I doing something wrong?

`Planar<GrayF32> rgbF32 = ConvertBufferedImage.convertFromPlanar(imageSource, null,true, GrayF32.class);`

the imageSource is a BufferedImage.TYPE_INT_ARGB_PRE

EDIT:
I found out that my BufferedImage Type is not

[2021-07-21 22:40] lessthanoptimal commented on #273
its in the latest stable. Re-open if any issues are found.

[2021-07-21 22:40] #273 closed, assigned to lessthanoptimal

[2021-07-21 22:43] lessthanoptimal commented on #284
The current code does not handle TYPE_INT_ARGB_PRE, which explains why you're seeing some issues. Thanks for explaining what the _PRE means since Oracle's JavaDoc does not! I'll add this to the list of stuff to fix. Thanks!

https://docs.oracle.com/javase/7/docs/api/java/awt/image/BufferedImage.html

[2021-07-21 22:47] lessthanoptimal commented on #270
I've not looked at that yet. Development is mostly focused on CPU's since it has the most reusability. However if there was a simple proof of concept showing something like Gaussian blur being speed up by a lot with minimal effort that could result in some functions being ported. There are existing hooks in parts of the code now for calling C++ which could be recycled for this.

[2021-07-21 22:49] lessthanoptimal commented on #265
Guess I'll close this issue since the question now seems to be can you compile the library as native. The answer is probably but someone needs to try it.

[2021-07-21 22:49] #265 closed, assigned to nobody

[2021-07-21 22:55] lessthanoptimal commented on #258
Cleaning up stale tickets and going to close this one. There is no fundamental objecting to adding Xuggler back in, it's just that the javacpp-presets works well enough and also wraps FFMPEG. I don't think it's worth the extra development effort to support both right now. If you created a PR to add it back in and properly tested it, there's a good chance it would be accepted.

[2021-07-21 22:55] #258 closed, assigned to nobody

[2021-07-21 22:57] lessthanoptimal commented on #223
Quick update. There's a good chance a batch monocular and stereo SLAM algorithm will make it into the next release. Updating multi camera calibration tooling first though.

[2021-07-21 22:59] lessthanoptimal commented on #176
Going to attempt to add this to v0.39. Was looking at the specs and it should be straight forward to adapt the existing code.

[2021-07-21 23:01] lessthanoptimal commented on #139
Hey! I just updated the QR code documentation and might have accidentally fulfilled this ticket. I know it's been about 1.5 years, but could you take a look and tell me if this helps?

https://boofcv.org/index.php?title=Tutorial_QRCodes

[2021-07-23 04:50] WonsokYoo opened #286 "Improve Reading QR Code With Bright Spots"
Hi, I've switched from other QR code decoding library after reading
(https://boofcv.org/index.php?title=Performance:QrCode) and testing.

Performance was surprisingly good even it was built by JAVA.

I've found some weired use-case but I don't understand why..

I've tried 'DetectQrCodeApp' in demonstrations.jar with an uneven illumination QR code image.
The binarization result was perfect with 'LO

[2021-07-23 05:14] lessthanoptimal commented on #286
Could you post a picture where you think it's having issues? Much easier to
diagnose.

On Thu, Jul 22, 2021 at 9:50 PM WonsokYoo ***@***.***> wrote:

--
"Now, now my good man, this is no time for making enemies."    — Voltaire
(1694-1778), on his deathbed in response to a priest asking that he
renounce Satan.

[2021-07-25 13:06] TheBricktop commented on #223
Wow, thats great news. Ill definitelly want to check the performance of it on some arm boards

[2021-07-26 00:18] WonsokYoo commented on #286
@lessthanoptimal  Thanks for your kind reply. Unfortunately I cannot attach images on GitHub because of my internal network situation. Could you provide your e-mail address so that i can send the image?

[2021-07-26 15:57] lessthanoptimal commented on #286
boofcv  gmail.com

[2021-07-27 02:19] WonsokYoo commented on #286
@lessthanoptimal I've tried with the above e-mail address but failed to send an e-mail for the following reason:

"Address not found
Your message wasn't delivered to boofcv@gmail.com because the address couldn't be found, or is unable to receive mail."

[2021-07-27 04:36] lessthanoptimal commented on #286
I just tested with from another e-mail account. Try copy and paste the email to the right, maybe a font issue. boofcv@gmail.com

[2021-07-27 06:11] WonsokYoo commented on #286
@lessthanoptimal Now, the e-mail seems sent properly. Thank you so much.

[2021-07-27 13:48] lessthanoptimal commented on #286
Just deleted messages with the e-mail in an attempt to keep spam down.

[2021-07-27 20:21] lessthanoptimal commented on #286
I was able to replicate the problem and know what's going on. The issue is that decoding works using a single threshold for the entire QR Code that's dynamically computed. This makes its performance decoupled from global thresholding that's used to find the locator patterns. The decoder doesn't use the binary image since that can have "holes" in it due to how local thresholding works and local vs

[2021-07-28 01:24] WonsokYoo commented on #286
@lessthanoptimal Yes, you can add the image to the test dataset (By any chance, please do not mention my affiliation :)).

BTW, I didn't understood regarding the algorithm.
About your mention
**"global thresholding that's used to find the locator patterns",**
→ What if I choose "LOCAL" thresholding method? Is it still find locator "GLOBALLY" independent from the thresholding method what I've chose

[2021-07-28 02:13] lessthanoptimal commented on #286
yeah after I wrote that I thought it might be confusion.

Steps

1. Threshold (e.g. LOCAL_NICK) applied to entire image to create a binary image
2. Square patterns are found inside of binary image
2. Sets of 3 squares are found and a candidate list of QR Codes is made
3. For each candidate QR Code it computes a new threshold specifically for that QR code by looking at the pixel intensity around ea

[2021-07-28 04:25] WonsokYoo commented on #286
@lessthanoptimal Thanks for your clear explanation. Now I understood how it works. Please let me know if you have any progress :)

[2021-08-05 07:26] github-account-0x00 opened #287 "Add support for Aztec Codes"
The QrCode works great but I need my application to be able to support both datamatrix and aztec codes as well

[2021-08-06 18:02] lessthanoptimal commented on #286
First pass with a new thresholding algorithm is done. A threshold is now estimated in the lower-right corner of the QR code. Then for each bit a threshold is selected by doing bilinear interpolation between the 4-corner thresholds.

Need to do more testing to make sure there isn't a major performance hit, but so far things look good. Improved overall detection by 1%, with a lot of that coming from

[2021-08-07 00:35] lessthanoptimal commented on #286
https://github.com/lessthanoptimal/BoofCV/pull/289

If you want to take a look at the fix there's the PR. It should get merged soon. Only a very small speed it. You will still need to change it to LOCAL_NICK or some other local method for your use case. The current default works better overall, but LOCAL methods seem to handle bright spots much better.

[2021-08-07 00:59] lessthanoptimal commented on #287
Not yet and there is no schedule. There's no project that's driving BoofCV at the moment that requires these markers. It could get added as a pet project, by my guess is that it's about 2 to 4 weeks of effort per marker when you include all the testing and data collection.

There's already a request for datamatrix so I'm turning this into a ticket just for Aztec Codes.

[2021-08-08 21:57] lessthanoptimal commented on #151
A bit later than expected, but it's fully integrated now:

https://github.com/lessthanoptimal/BoofCV/pull/290

Should be merged into SNAPSHOT soon. A new PR is being made to improve the application app to handle multiple fisheye models. It was hard coded to Universal in a few locations since it was the only model until now.

[2021-08-09 12:18] WonsokYoo commented on #286
@lessthanoptimal Thanks for your support. I tested on my PC today and now it works! Obviously, the performance seems better than the previous one. I will try more samples and if any issues occur I will report to you. Thanks again!

[2021-08-09 16:01] lessthanoptimal commented on #286
Based on my internal tests with "bright spots" detecting finder patterns is the biggest weakness. If speed isn't a issue you can improve that running the detector multiple times with different magic numbers for local region size in the binarization step.

Going to close this issue for now, but feel free to open a new one if decoding is still a problem on a lot of images.

[2021-08-09 16:01] #286 closed, assigned to lessthanoptimal

[2021-08-12 08:10] thhart opened #292 "Perceptual hashing support for image similarity"
Related to the latest censorship scandal around Apple and its image scanning efforts I came across this topic:
https://en.wikipedia.org/wiki/Perceptual_hashing

IMHO it is a nice mechanism in general however the science behind there is still new and probably not standardized enough but maybe it can be in use for image processing already.
There is an approach here: https://github.com/KilianB/JImage

[2021-08-12 14:27] lessthanoptimal opened #293 "Logging erratic CI crash in Github Actions"
If anyone knows Github Actions and can help access a JVM error log that would be very helpful. CI decided to start failing 50% of the time and is extremely annoying. The message says it log the failure to the location below but I'm not sure how to access it.

The fix is probably simple but it would be helpful (and allow more time to be spent on new features) if someone could show us how to access

[2021-08-12 14:38] lessthanoptimal commented on #292
interesting topic for sure! Could be combined nicely with the new image retrieval code to identify true duplicates.

[2021-08-18 18:43] lessthanoptimal opened #297 "Simulate Motion Blur"
To help improve testing on synthetic data there needs to be a way to simulate motion blur on any image. Linear and radial. The goal here is to create the same visual artifacts that motion blur generates and not to create a physically accurate simulation. The motion blur filter in Gimp looks like it would be good enough so figuring out what algorithm they use would be a good starting point.

[Model

[2021-08-27 12:26] TheBricktop opened #302 "building android aar library"
Hello,
is there a known way to build boofCV to android aar library?

[2021-08-27 14:36] lessthanoptimal commented on #302
don't see any reason why not, but I've not really looked into it. Any reason including it like a normal jar isn't desirable?

[2021-08-29 20:37] TheBricktop commented on #302
That's a valid question, my experience was only with building aar but not including jar libraries, ill check it shortly.

[2021-09-14 13:53] outersky opened #305 "missing boofcv.struct.border.ImageBorder_F32.java ?"
Class boofcv.struct.border.ImageBorder_F32 is used everywhere, but it can be found nowhere.

why?

[2021-09-14 14:02] outersky commented on #305
sorry , I did NOT execute `./gradlew autogenerate`

[2021-09-14 14:02] #305 closed, assigned to nobody

[2021-09-14 21:32] lessthanoptimal commented on #297
done! linear motion blur has been added.

[2021-09-14 21:32] #297 closed, assigned to nobody

[2021-09-15 14:21] lessthanoptimal commented on #60
ArUco, AprilTag, and potentially others are now supported. Turned out it was fairly easy if you used pre-defined dictionaries.

https://github.com/lessthanoptimal/BoofCV/pull/303

[2021-09-15 14:21] #60 closed

[2021-09-15 14:22] lessthanoptimal commented on #151
done

[2021-09-15 14:22] #151 closed, assigned to lessthanoptimal

[2021-09-15 14:23] lessthanoptimal commented on #148
Kotlin Extensions have been in BoofCV for a bit now in an integration module.

[2021-09-15 14:23] #148 closed, assigned to nobody

[2021-09-15 14:24] lessthanoptimal commented on #139
closing issue since I think it has been resolved.

[2021-09-15 14:24] #139 closed

[2021-10-19 02:45] stellarpower commented on #305
Place for the docs to be updated to add this step: [3D Reconstruction Tutorial](https://boofcv.org/index.php?title=3D_Reconstruction_on_Desktop_Tutorial#Building)

[2021-10-19 12:37] lessthanoptimal commented on #305
@stellarpower I did update the build instructions, but I also noticed that particular page said you need to build from source. That is no longer true and you can use the precompile Application. The wiki has been updated. Thanks!

[2021-10-19 13:46] stellarpower commented on #305
Yup, wish I had read the output more, as it would've saved me a couple of hours trying to build it!! I forgot to add, but seems `SceneReconstructionApp` has been renamed to `SceneReconstruction`, so that should probably go in the docs too. Thanks!

[2021-10-19 16:24] lessthanoptimal commented on #305
I've added a sanity check to the build script that checks to see if `autogenerate` was run and prints out saying you need to run it.

[2021-11-01 13:45] wkornewald opened #312 "Bug: Fails scanning QR codes generated by Python qrcode lib"
For the German Covid vaccination record/passport we switched from ZXing to BoofCV because that worked more reliably during our tests. However we've now received a bug report where people can't scan QR codes generated with the Python qrcode library:

https://github.com/Digitaler-Impfnachweis/covpass-android/issues/93

That ticket contains a failing QR code, so you could debug the issue. Could you p

[2021-11-01 15:57] lessthanoptimal commented on #312
Thanks for the bug report. Did a very quick check and verified it's not reading the first QR code and tried a few other libraries on my Android device which could read it. Haven't seen any obvious reason for it failing. All the debug app says is that it's failing at error correction stage but everything else looks good. Hard to tell if it's a bug in BoofCV or a bad QR code. BoofCV is more strict o

[2021-11-01 17:25] lessthanoptimal commented on #312
![image](https://user-images.githubusercontent.com/739159/139712123-2430aec4-6889-4043-9873-109154b680a0.png)

I'm fairly confident the encoder is non-compliant and is doing a transpose of the correct bit order. I'll do one last check to make sure and that is flip the bits in BoofCV's decode and see if it works.

In the attached screenshot, If you scan down the right column in this image it will m

[2021-11-01 18:35] lessthanoptimal commented on #312
Did a simpler test and just transposed the image. BoofCV could then read the marker without any problem. If you wish to keep on using the same encoder you can make it compliant by transposing the image. A bug report should also be created since the encoder is most likely not handling a coordinate transform correctly and not all libraries will be able to decode it. If the author compares their gene

[2021-11-02 06:45] wkornewald commented on #312
Thanks for taking the time to analyze the cause. Indeed, transposing fixes the issue.

Maybe you could provide a multi-threaded scanner which can deal with this apparently common kind of bug in QR encoders? If that's not possible for some reason, at least some simple API to deal with this case and allow the implementer to use multi-threading would  be nice.

In the end, everyone who wants to use t

[2021-11-04 11:21] lessthanoptimal opened #313 "Decode transposed QR codes"
A common problem with encoders is that they mess up coordinate system transforms and generate a QR code where the marker is transposed, making it non-compliant. Add a flag which will enable decoding of these QR codes.

- Add a flag to consider the possibility that the marker is transposed
- Make sure there is no speed regression when the flag is false
- Update example

[2021-11-04 11:29] lessthanoptimal commented on #312
Created a new ticket for this. I think this capability can be added and not make the code a lot more complex or slow it down when turned off.

https://github.com/lessthanoptimal/BoofCV/issues/313

Too bad an easy compliance check was never released for QR codes in the early days. As a result the ISO standard is treated as more of a suggestion and there are a ton of defacto "standards" or variants.

[2021-11-04 11:29] #312 closed, assigned to nobody

[2021-11-04 20:31] changbaishan opened #314 "http://www.boofcv.org/javadoc Not Found"
http://boofcv.org/javadoc
Not Found
The requested URL was not found on this server.

Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request.

[2021-11-05 03:17] lessthanoptimal commented on #314
thanks for reporting that. Must have gotten messed up when mediawiki got updated.

[2021-11-05 03:17] lessthanoptimal commented on #314
fixed

[2021-11-05 03:17] #314 closed, assigned to nobody

[2021-11-14 13:15] emil-sys commented on #187
@lessthanoptimal Hello, i have the same issue. any news on this?

[2021-11-25 08:37] shikui08 opened #317 "Two step multiview calibration?"
Great work!

Here is what I am trying to figure out when experimenting with Stereo calibration example.  Given two cameras which are distanced from each other(5 meters, for example). it is really difficult to acquire high quality synchronized image pairs to produce good enough intrinsic and extrinsic calibration results. But on the other hand, it is much easier to do intrinsic calibration separate

[2021-11-25 12:01] shikui08 commented on #317
I guess It maybe useful if input images can be specified as
 1) images for intrinsic calibration of left camera.
 2) images for intrinsic calibration of right camera.
 3) image pairs for evaluating right to left transformation.

Also it would be helpful if we can get reconstructed 3d landmarks of the board in each image-pair. It will make sense if the boards are on the ground and we will get 'real

[2021-11-26 09:45] #317 closed, assigned to nobody

[2021-11-28 19:04] lessthanoptimal commented on #317
Hey @shikui08 any reason you closed this? Sorry was meaning to reply earlier.  I suspect that some improvement is needed in the documentation. Internally stereo calibration does first process each camera individually then refines everything all at once. There are plans to have a full multi camera calibration system for n-views and replace the stereo calibration with that system.

When collecting i

[2021-11-29 01:27] shikui08 commented on #317
Thanks for your reply! The reason I close this issue is that I find out that it's depends on which scenario I am dealing with, i.e.  'moving cameras' or 'moving board',

Basically the current stereo demo&application works well in 'moving camera' scenario.
And the process you described in your comment works on a broader basis, and are similar to I am talking about in the previous one.
And here is m

[2021-12-07 09:02] sandeepnmenon opened #318 "ExampleTrifocalStereoUncalibrated giving inaccurate results"
I am trying the ExampleTrifocalStereoUncalibrated on my data and the intrinsics are way off. I am suspecting a mismatch in the type of images the algorithm expects and my data.

Data: https://drive.google.com/drive/folders/1UjYqxrtLnxWuLq12wXYR5hknom1_Bj9i?usp=sharing

Intrinsics obtained from Checkerboard
[code]
Intrinsics obtained from the Trifocal tensor. The rectified K is
[code]

Intrinsics m

[2021-12-10 01:54] lessthanoptimal commented on #318
![image](https://user-images.githubusercontent.com/739159/145504084-8a49368a-6157-4df9-96f0-87cdfd93e7ca.png)

[2021-12-10 01:56] lessthanoptimal commented on #318
produced reasonable results when I processed those images on my computer when I used the demo application. The code isn't exactly the same as the example code so that might be the difference. This type of reconstruction can be a bit unstable and small changes in input an tuning parameters can make a big different. More work is needed there.

[2021-12-13 08:06] wkornewald opened #319 "Lombok dependencies"
We received a complaint that Lombok-related files are in our CovPass APK: https://github.com/Digitaler-Impfnachweis/covpass-android/issues/133

Could you please check if the dependencies can be optimized/reduced a little bit in boofcv-core? Otherwise we can also try to strip unnecessary files and deps on our end, but I thought it might be nicer for all users if the issue could be solved in BoofCV.

[2021-12-13 12:51] lessthanoptimal commented on #319
That's probably a miss configuration because Lombok should be compile time only. I'll look into this early this week. Traveling right now.

[2021-12-13 13:11] wkornewald commented on #319
It’s nothing time critical anyway. Thank you and enjoy your trip!

[2021-12-13 16:24] sandeepnmenon commented on #318
@lessthanoptimal
thank you for trying out with my data.
I did try out with the example code after running the exampleJar. Can you share the code that you tried?

So what kind of data would give good results. Also, this algorithm assumes fx=fy correct?

[2021-12-13 18:57] G00fY2 commented on #319
Looks like the `boofcv-types` module has a runtime dependency on lombok. Below is the relevant part of the `gradlew app-covpass-prod:dependencies --configuration releaseRuntimeClasspath` output.

Maybe there are more dependencies that are not required at runtime? Lombok was just easy to find, because it causes multiple folders and files to show up in the APK.

[code]

[2021-12-19 09:43] G00fY2 commented on #302
@TheBricktop aar libraries only offer additional Android specific functionality like declaring permissions, limiting mininum Android SDK version or shipping resources like drawables or xml layouts. I don't see how this library would benefit from using the aar format. :)

[2021-12-20 01:01] lessthanoptimal commented on #319
https://github.com/lessthanoptimal/BoofCV/pull/320 fixed it. Will be in SNAPSHOT momentarily

[2021-12-20 01:03] lessthanoptimal commented on #319
@G00fY2 Yep you found the leak. A gradle dependency was marked as "implementation" instead of "compileOnly" and that caused the accidental transitive dependency. This is related to some hackery to avoid a cyclical dependency as a result of auto code generation.

[2021-12-20 01:11] lessthanoptimal commented on #319
I'm fairly confident this is fixed since I don't see the dependency any more. Feel free to re-open if this is not the case.

[2021-12-20 01:11] #319 closed, assigned to lessthanoptimal

[2021-12-20 01:27] lessthanoptimal commented on #318
There are examples and demonstrations in BoofCV. Examples is intended to have easy to read and understand code. Demonstrations is intended to make it easy to run the code in a GUI.

In the image above I used Demonstration application instead of the example code. Primarily for historical reasons, the example code basically rewrites an implementation of [ThreeViewEstimateMetricScene](http://boofcv.o

[2021-12-20 01:29] lessthanoptimal commented on #318
As for good images, you want a scene with plenty of texture, diffuse lighting, objects that are up close and far away, not planar, and a baseline that's not too small or big. The image below produces fairly stable results.

![image](https://user-images.githubusercontent.com/739159/146699326-1980bb2d-3bb3-4873-905a-891b03567dfe.png)

[2021-12-20 01:31] lessthanoptimal commented on #318
Yes for fx=fy. You will be hard pressed to find a lens for which that's a bad assumption. Almost any cellphone camera will work. Just make sure there isn't motion blur. Some cheaper phones are prone to issues in low lighitng.

[2021-12-20 12:43] wkornewald commented on #319
Thanks a lot!

[2021-12-20 13:25] G00fY2 commented on #319
I just cloned the SNAPSHOT branch, build the latest _0.40-SNAPSHOT_ locally and switched the version inside the covpass app. I can confirm that the lombok runtime dependency is fixed. :slightly_smiling_face:

[code]

[2021-12-20 18:31] sandeepnmenon commented on #318
Thank you for the insights. Closing the issue,

[2021-12-20 18:31] #318 closed, assigned to nobody

[2021-12-29 22:11] lessthanoptimal commented on #313
Started work on this task

https://github.com/lessthanoptimal/BoofCV/tree/feature/transposed

Only added a new operator to transpose images so far. The actual solution will not sure that operator but seemed like it would be useful anyways.

[2021-12-30 04:09] lessthanoptimal commented on #313
https://github.com/lessthanoptimal/BoofCV/pull/325

well that was not too difficult. Doing more tests to make sure there isn't an unintentional consequence. Will merge into SNAPSHOT "soon"

[2021-12-30 04:11] lessthanoptimal commented on #313
@wkornewald

[2021-12-30 05:13] lessthanoptimal commented on #176
https://github.com/lessthanoptimal/BoofCV/tree/feature/micro_qr

started implementing it

[2021-12-30 07:13] wkornewald commented on #313
@lessthanoptimal Thanks, that looks good. Maybe we'll still keep our multi-threaded implementation but use the new transpose function underneath, so we can speed up the scan (compared to the default implementation).

[2021-12-30 16:52] lessthanoptimal commented on #313
Sounds good. Let me know if there are any issues. Going to close this ticket since I think everything is resolved now.

FYI The latest code now uses NullAway to strictly enforce null checks. I don't think there are any changes which will affect you but I could be wrong as a ton of code got modified. Going to shoot for a new stable release in January or early Feb.

[2021-12-30 16:52] #313 closed, assigned to lessthanoptimal

[2022-01-04 01:11] #87 closed

[2022-01-04 01:14] lessthanoptimal commented on #176
Appears to be working. Still a bunch of work to do. One area you can easily help out is collecting a few real-world test images. Micro QR Codes are not nearly as common as QR codes so if you could provide images which could be added to the regression tests that would be great. I'll make some of my own but they would be "real" use cases.

[2022-01-04 01:49] lessthanoptimal commented on #287
One annoying issue is that the Aztec specification ISO/IEC 24778:2008 is not publicly available and costs around $180 USD. Which is a bit ridiculous. If anyone has a copy they can "loan" that would be helpful.

[2022-01-05 03:47] lessthanoptimal commented on #176
It's in SNAPSHOT with example code and working app. Please test and open if you find any issues!

[2022-01-05 03:47] #176 closed, assigned to lessthanoptimal

[2022-01-05 03:47] #302 closed, assigned to nobody

[2022-01-05 06:22] GokulNC commented on #176
Thanks! Currently I do not have any images to test.

At the time I raised this issue, we solved this issue by buying this API temporarily:
https://www.datasymbol.com/barcode-reader-sdk/barcode-reader-sdk-for-windows/online-barcode-decoder.html

---

Can you please add support for this in PyBoof as well? Currently I do not have Java setup on my machine.
It would be a good feature in the python libr

[2022-01-05 18:03] lessthanoptimal commented on #176
Would be interesting to do a comparison between the two. Never tested my QR code library against a commercial product.

I'll add it tp PyBoof when the next stable release comes out. That will probably happen in the next 2 to 4 weeks. Need to fix a couple of regressions first.

[2022-01-05 18:09] lessthanoptimal commented on #176
Just did a test using their website and it looks like BoofCV does a significantly better job!

[2022-01-11 01:47] lessthanoptimal commented on #176
@GokulNC Any chance you can contact me outside of Github? I'm trying to think of ways to help fund BoofCV and considered creating really easy to use web services and would like your thought since it sounds like your company/group might be potential customers.

[2022-01-18 16:59] GokulNC commented on #176
Sorry I missed this message.

Thanks for asking! But as of now, unfortunately I am not working in that company where the requirement was there.
Sorry! :)

[2022-01-27 15:31] mnellemann commented on #171
I'm having lot's of trouble getting boofcv working w. a JavaFX application (worked fine w. an older Swing based Java8 app).
I have tried all sort of things w. module-info.java, but keeps getting into problems w. packages being used by different modules.
I anyone has a module-info.java file working w. boofcv-core, I would appreciate if I could take a look.

[2022-01-27 16:24] lessthanoptimal commented on #171
This won't immediately help any folks using modules, but BoofCV dropped Java 8 finally and now outputs Java 11 jars. If anyone knows of a way to add module support without refactoring everything that's easier now.

[2022-01-28 19:07] lanthale commented on #171
Just create a module-info.java in the root package for every jar. Than you are at least fine. But the problem remains that package names must be unique. That means that the lib is not usable on the module path.

[2022-01-29 10:37] mnellemann commented on #171
Not sure how to do that?

I have tried using a gradle plugin https://github.com/jjohannes/extra-java-module-info which should help modulize non moduler libraries, but I still end of with errors like ```error: the unnamed module reads package boofcv.struct from both boofcv.learning and boofcv.types``` and ```error: the unnamed module reads package boofcv.alg.distort from both boofcv.geo and boofcv.

[2022-02-03 20:34] lessthanoptimal commented on #287
Progress is underway

https://github.com/lessthanoptimal/BoofCV/tree/feature/aztec

[2022-02-14 05:14] lessthanoptimal commented on #287
80% complete implementation has been merged into SNAPSHOT. If anyone sees this and wants to help create a test set of images post a message here.

[2022-02-14 05:19] lessthanoptimal commented on #102
Update: 2D Barcodes are getting all the love at the moment. Added Micro QR and will be done adding Aztec soon. Datamatrix is being considered.

What's currently the best 1D barcode computer vision library?

I might take a look at it and see how they did it. Main reason 2D bar codes are getting all the attention is that there's existing code that can be used to detect them. I suspect a very robust

[2022-02-17 17:00] lessthanoptimal opened #335 "Contour should use ConfigLength for min and max length"
This way a relative length can be used and customized code in each algorithm can be removed.

[2022-02-18 02:30] lessthanoptimal commented on #335
done

[2022-02-18 02:30] #335 closed, assigned to lessthanoptimal

[2022-02-18 02:36] lessthanoptimal commented on #164
Clean up old issues. Feel free to open again if this becomes active.

[2022-02-18 02:36] #164 closed, assigned to nobody

[2022-02-18 02:37] lessthanoptimal commented on #141
Closing old inactive issues. Feel free to reopen.

[2022-02-18 02:37] #141 closed

[2022-02-18 02:38] lessthanoptimal commented on #122
Closing old inactive issues. Feel free to reopen.

[2022-02-18 02:38] #122 closed

[2022-02-18 02:39] lessthanoptimal commented on #133
Old issue, but looks like this would be a useful feature. Anyone that uses OpenCV and BoofCV want to help or at least provide a list of functions that would be useful?

[2022-02-18 02:41] lessthanoptimal commented on #77
Closing this old issue. No longer looking to swap in another way to generate code since it doesn't seem to be worth the effort.

[2022-02-18 02:41] #77 closed

[2022-02-18 02:43] lessthanoptimal commented on #284
Bumping this issue up in priority.

[2022-02-18 02:45] lessthanoptimal commented on #293
A bunch of recent updates seems to have fixed this problem. Maybe the change to Java 17?

[2022-02-18 02:45] #293 closed, assigned to nobody

[2022-02-18 02:48] lessthanoptimal commented on #175
Cleaning up issues.

[2022-02-18 02:48] #175 closed, assigned to nobody

[2022-02-21 15:24] ecmnet opened #339 "Add "Fast global image smoothing based on weighted least squares""
A short question: Does boofcv support disparity WLS filtering?

[2022-02-21 16:48] lessthanoptimal commented on #339
It's on the list to be added but not a priority. For future reference, here's the paper we are talking about.

Dongbo Min, Sunghwan Choi, Jiangbo Lu, Bumsub Ham, Kwanghoon Sohn, and Minh N Do. Fast global image smoothing based on weighted least squares. Image Processing, IEEE Transactions on, 23(12):5638–5653, 2014.

[2022-02-24 18:41] thhart opened #340 "Sauvola delivers black for some radius and images"
I have observed that Sauvola delivers black images in combination with special radius and special images. Unfortunately it behaves extremely strange and I can not reproduce it in a test environment. However I am 100% sure the input right before the function call is valid. The questionable radius is 4-9 and it only happens on a special image. Maybe it is related to the image modification chain befo

[2022-02-24 19:12] lessthanoptimal commented on #340
Could you add this before the call and see if it prints out zero when you have the issue?

[code]
Next try adding this line before any code is called and see if it fixes the issue.

`BoofConcurrency.USE_CONCURRENT = false;`

Is this a threaded application? Is it possible another thread is modifying an image while this process is going?

[2022-02-25 10:27] thhart commented on #340
1. Mean value is ok before
2. Concurrency on/off no change
3. No modification going on, I even used the copy for the call

I tried to serialize the questionable image before, so I could reproduce, but it only happens in the complex application chain, maybe there is a dependency conflict, I have to check further I am afraid...

[2022-03-02 20:51] thhart opened #341 "Max features suppression method"
I have a project in which I have to limit feature extraction to specific amount of features. I am wondering what the default suppression method is? For my use case I would prefer an optimal distribution over the whole image if possible.

[2022-03-04 16:53] lessthanoptimal commented on #341
There are a few options for how to do that. I just added an example that visualizes different selection methods

[ExampleFeatureLimit](https://github.com/lessthanoptimal/BoofCV/blob/SNAPSHOT/examples/src/main/java/boofcv/examples/features/ExampleFeatureLimit.java)

There's also the original non-maximum example

[ExampleNonMaximumSuppression](https://github.com/lessthanoptimal/BoofCV/blob/SNAPSHOT/

[2022-03-06 16:32] lessthanoptimal opened #342 "Look at Agrona for memory alignment"
https://github.com/real-logic/agrona

might be able to speed up some operations

[2022-03-07 10:34] AhmadShaik commented on #102
Waiting for it. My vote is for both 1D and 2D barcode reading using visio.

[2022-03-08 20:32] inviolablegenesis opened #343 "No webcams found when running CameraCalibrationAssisted"
Hi, I downloaded the applications jar from the website and tried to execute Assisted Calibration.
But it says "no webcams found".

I just need to check this example using my webcam but it won't detect my webcams.
I'm using Mac OS Big Sur.

I checked other apps that uses the camera (e.g. facetime) and my camera is just working fine.
I wonder what's the problem with the example applications.jar.

Pl

[2022-03-09 00:07] lessthanoptimal commented on #102
Microsoft Visio?"diagramming and vector graphics" application?

[2022-03-09 22:23] lessthanoptimal commented on #343
Probably an issue with the library WebcamCapture. Know how to program simple Java applications? We can test that theory.

[2022-03-10 02:23] lessthanoptimal commented on #340
any update?

[2022-03-11 05:24] lessthanoptimal commented on #284
After more investigation, PRE stands for [premultiplying](https://en.wikipedia.org/wiki/Alpha_compositing#Straight_versus_premultiplied) the alpha channel. The channel order issue has been fixed but you still might not like the results since the RGB colors will be premultiplied and if not handled correctly will not appear correctly.

[2022-03-11 05:25] lessthanoptimal commented on #284
latest code has the fix. Feel free to re-open if additional work is needed.

[2022-03-11 05:25] #284 closed, assigned to lessthanoptimal

[2022-03-24 17:48] aiqbal281 commented on #187
Hello, did you guys find any solution for this.

[2022-03-25 05:48] emil-sys commented on #187
Hello, no didnt find a solution for this.

Intellij I ***@***.***> schrieb am Do., 24. März 2022, 18:49:

[2022-03-25 15:16] aiqbal281 commented on #187
I found solution using camera x

[2022-04-07 23:41] lessthanoptimal opened #345 "Calibration Improvements"
- [x] Stereo: Command-line save quality metrics to a file.
- [x] Mono: Command-line save quality metrics to a file.
- [x] Stereo: Scale error correctly based on image scale
- [x] Stereo: Use single combo box to select rectification approach and if it should rectify at all
- [x] Stereo: Clarify if metrics are left or right camera
- [x] Stereo: Add geometric quality to metrics
- [x] Stereo: Overlay

[2022-04-17 21:58] lessthanoptimal commented on #345
https://github.com/lessthanoptimal/BoofCV/pull/348

[2022-04-28 07:46] thhart opened #351 "logic operations for gray scale image type"
I can see there is a logicAnd and other in BinaryImageOps. Is there a specific reason why this is not available for gray scale image types? I have a little use case for this. So I am wondering if it would be of interest to have these functions in GrayImageOps as well?

[2022-04-28 15:14] lessthanoptimal commented on #351
How would a logical operator be applied to a non binary value?

[2022-04-28 16:30] lessthanoptimal commented on #345
merged

[2022-04-28 16:30] #345 closed, assigned to lessthanoptimal

[2022-04-29 08:57] thhart commented on #351
Logic operations can happen on Integer base also and must not be restricted to binary space, this can be helpful to filter out a specific color in a image, or adding two images.

[2022-05-11 09:48] skjolber commented on #287
@lessthanoptimal any ETA on this feature? ZXing has some kind of bug on large aztec codes, so this lib might be a good alternative.

[2022-05-12 17:21] lessthanoptimal commented on #287
@skjolber It's finished and stable, but there hasn't been a formal release yet. You can use the latest SNAPSHOT to use it. Would be helpful if you did try using it and see if there are any bugs that were missed.

[2022-05-23 20:37] holgerbrandl opened #354 "An illegal reflective access operation has occurred"
When using boocv for similarity search, it throws the following warning:
[code]

[2022-05-31 15:57] lessthanoptimal commented on #354
This is actually unavoidable. They have started clamping down on what was standard practice in the JDK. Need to revive the effort to modify the JDK to allow access to the this data structures.

[2022-06-14 15:42] skjolber commented on #287
@lessthanoptimal I've made it work in the android app, looks good. Our code are quite big (600 bytes), I am having some difficulties detecting them, although a lot of the medium sized codes (found online) can be easily read (IMHO this is better than ZXing). Is there a recommended way of configuring the reader for capturing large codes?

[2022-06-15 09:46] skjolber commented on #287
@lessthanoptimal for reference, I am having difficulties detecting the large code below. The smaller works well from multiple angles. The larger sometimes works, at some zoom levels / detector tweaks better than other.

![image](https://user-images.githubusercontent.com/1031478/173795056-bbccc021-ab7f-4dc9-b892-7d67d3583c57.png)
![image](https://user-images.githubusercontent.com/1031478/173795178-

[2022-06-19 18:53] lessthanoptimal commented on #287
I suspect the problem here is that it's using the Pyramid alone to predict
where the bits should be. For large markers, if there's any small error it
gets amplified the farther from the pyramid you are. That will hopefully
get improved in the future. They didn't design Aztec codes with an easy way
to find landmarks outside of the pyramid.

On Wed, Jun 15, 2022 at 2:46 AM Thomas Skjølberg ***@***.*

[2022-06-20 09:06] skjolber commented on #287
@lessthanoptimal So what about the so-called "reference grid" for full-sized codes?

![image](https://user-images.githubusercontent.com/1031478/174566771-12af6807-065a-4b30-b1a6-b42fefde3236.png)

[2022-06-21 02:12] lessthanoptimal commented on #287
They are not distinctive from data bits. The reference algorithm traces it
with two parallel lines starting from the center. If you get an unexpected
result, then tweak the direction you are tracing along. I've not tried that
but it comes across to me as very error prone, especially when you have
dynamic lighting, slightly curved surface, or harsh perspective. I've been
trying to think of a better

[2022-06-21 09:23] skjolber commented on #287
So do you want to detect the pyramid first, then the reference grid, or both at the same time?

How about attempting to locate the outer square once the pyramid is found? Or perhaps one of the four squares for less computationally intensive search?

[2022-06-23 05:35] lessthanoptimal opened #355 "Failure to detect in case with multiple high version QR in one image"
https://github.com/lessthanoptimal/PyBoof/issues/15

Looks like this specific layout is causing issues. The image should probably be added to the regression tests.

[2022-06-24 02:41] lessthanoptimal commented on #355
https://github.com/lessthanoptimal/BoofCV/pull/356

fix in testing

[2022-06-30 18:21] rwperrott opened #358 "Maven can't find 0.40.1, even via https://jitpack.io"
0.40.1 is definitely not on Maven Central (only up to 0.26 at 2016-12-08 03:52),  and no jar files were released here for 0.40.1, so I can't even use this workaround:
[code]

Only personal Maven projects, or private forks of other project, should need to be built and installed locally; everything else should be in a public repo, or at least release jars in their GitHub repo; like here for BootCV.

[2022-07-01 02:02] lessthanoptimal commented on #358
A long time ago the package names changed, which explains the confusion. A Gradle example for how to include it can be found in the [readme ](https://github.com/lessthanoptimal/BoofCV#adding-to-gradle-and-maven-projects)or in the [download ](https://boofcv.org/index.php?title=Download)page.

This search on Maven Central seems to bring up the correct jars:

https://search.maven.org/search?q=g:org.b

[2022-07-01 17:57] rwperrott commented on #358
Thanks, that worked.

[2022-07-01 17:57] #358 closed, assigned to nobody

[2022-07-07 07:11] holgerbrandl commented on #354
Is there any option to suppress the warning? Like with a specific jdk-flag.

Will boof-cv still work with recent versions of the JDK (v17+)?

[2022-07-11 23:44] lessthanoptimal commented on #354
BoofCV's build system targets JDK 17. There is a chance that "boofcv-swing"
might have issues in the future, if they continue to clamp down on
security. If that does happen there should be an easy way to override the
security restrictions. Wish I had more time to push updates to the JDK to
fix the issue at the source.

On Thu, Jul 7, 2022 at 12:11 AM Holger Brandl ***@***.***>
wrote:

--
"Now, now

[2022-07-19 08:56] vogthenn commented on #154
This issue could probably be resolved easily with 'androidx.camera:camera-*', boofcv.android.ConvertBitmap.  Using the ImageAnalyzer, you can use a PreviewView to point the camera, and analyze the images ConvertBitmap and qrCodePreciseDetector.detect(boofImage)
qrCodePreciseDetector.detector.detections would have the detection results

I might be able to provide a sample, not sure where to put it,

[2022-07-19 09:00] tonyvu2508 opened #360 "Cannot decode these Qr codes"
I used boofcv to read the pictures below, but couldn't read it. pls check.
![2](https://user-images.githubusercontent.com/58989306/179710903-ce0a7a87-3b0f-4905-946e-105079d69c29.png)
![3](https://user-images.githubusercontent.com/58989306/179710912-4d80f3a6-4006-40b7-8a06-b87dd2b37966.png)
![4](https://user-images.githubusercontent.com/58989306/179710914-8f57bc30-ec7d-42b4-ba81-69b9d3beecfe.png)

[2022-07-19 14:17] lessthanoptimal commented on #360
I looked at the second QR Code. It gets past the error correction stage, which means image processing is working just fine. The issue seems to be that it's a STRUCTURE APPENDED marker. That mode isn't supported yet since it's rare. Structure appended works by combining multiple QR into what is effectively a single QR.

[2022-07-22 00:48] lessthanoptimal commented on #154
@vogthenn Maybe as an example?

[2022-08-03 09:54] MrStahlfelge commented on #343
webcam-capture and its dependencies don't work on MacOS any more with the used dependencies here, need to change it like used in this project: https://github.com/craigraw/webcam-tester

Unfortunately, while the tester works for me, I am getting a crash with boofcv. Still need to investigate

[2022-08-15 01:58] lessthanoptimal commented on #154
Won't make it into the next stable release but the one after this should have a complete rewrite using fragments. Writing the code for a commercial project and after it's stabilized I'm planning on donating it to this project. Will probably be a couple of months before it works its way into BoofCV.

[2022-08-18 12:52] GenieTim commented on #354
At least OpenJDK 17. seems to throw an error. The flag, "--illegal-access=warn", does not work anymore.

Example:
[code]

A similar error is also reported here: https://groups.google.com/g/boofcv/c/IqAq5f5efoE?pli=1

@lessthanoptimal : I would gladly contribute to this project to fix this issue, if possible. Could you give me a hint on where to start or what type of solution you expect?

Naïvely,

[2022-08-18 14:49] lessthanoptimal commented on #354
@GenieTim The work around for subimages is to create a copy.

The fix is to update the Java JDK to allow access to internal data structures as mentioned above. Years ago I started the process. The good news is that the maintainers seemed open to the idea, but you would need to be very persistent. So think you could push a PR through the JDK?

[2022-08-18 15:35] lessthanoptimal commented on #354
@GenieTim  You can try to fix you mentioned. Can't remember if I tried that a while ago or not. Look inside of TestConvertRaster and TestConvertBufferedImage. Search for subimage. You will need to modify the checks where it sees if subimages are supported and re-enable that logic past Java 9.

[2022-08-18 16:07] GenieTim commented on #354
Thanks for your answers! I will see what I can do in this project, open a PR when I got one, and if the workaround is the only way and indeed a significant performance penalty, I will ask you again for reference of the process in the JDK you started.

[2022-08-22 10:26] seankim1311 opened #370 "In Android, Conflict between protobuf-java and protobuf-javalite."
Hi, when I add a dependency to build.gradle on Android, the following error appears:

Duplicate class com.google.protobuf.Writer found in modules jetified-protobuf-java-3.17.3 (com.google.protobuf:protobuf-java:3.17.3) and jetified-protobuf-javalite-3.11.4 (com.google.protobuf:protobuf-javalite:3.11.4)
Duplicate class com.google.protobuf.Writer$FieldOrder found in modules jetified-protobuf-java-3.

[2022-08-30 18:30] lessthanoptimal commented on #370
Will adding an exclusion help resolve this conflict? Here's an example from a build.gradle with Groovy DSL

[code]

[2022-09-03 02:36] lessthanoptimal commented on #287
The new stable release is out, but @skjolber we can continue the discussion on how to make work better on acute angles in another issue.

[2022-09-03 02:36] #287 closed, assigned to lessthanoptimal

[2022-09-03 02:37] lessthanoptimal commented on #341
Cleaning up tickets. I'm assuming those examples are enough.

[2022-09-03 02:37] #341 closed, assigned to nobody

[2022-09-03 02:40] lessthanoptimal commented on #232
In BoofCV 0.41 there is now a way to save disparity and inverse depth images as a 3D Mesh. These tend to work well in 3rd party viewers. There is also a plan in place for how to convert general 3D clouds into 3D meshes. Work might start on that in the next release.

https://boofcv.org/index.php?title=Example_Stereo_Mesh

[2022-09-03 13:10] ontheway16 opened #374 "BoofCV Qr Scanner and Flutter"
Hello,

Whats are the chances to utilize boofCV qr scanner, in Flutter environment ?

[2022-09-03 14:22] lessthanoptimal commented on #374
Haven't looked into Flutter before, but based on this stackoverflow
question it "might" be possible through something called channels.

https://stackoverflow.com/questions/60974464/is-it-possible-to-use-java-or-kotlin-code-in-flutter

On Sat, Sep 3, 2022 at 6:10 AM ontheway16 ***@***.***> wrote:

--
"Now, now my good man, this is no time for making enemies."    — Voltaire
(1694-1778), on his death

[2022-09-24 12:42] ruimelodev opened #375 "RuntimeException when decoding specific files"
I'm using BoofCV to decode QR codes.
When I run the decoder on specific files, I get a RuntimeException with error "An error occurred while calling o40.process":
[code]
Here is an example of a file that throws exception:
[pdf_invalid_2.pdf](https://github.com/lessthanoptimal/BoofCV/files/9638703/pdf_invalid_2.pdf)

[2022-10-16 22:03] lessthanoptimal commented on #375
There are two things going on. 1) this appears to be an incorrectly encoded QR code. 2) This failure mode was not handled inside the decoder.

The reason I believe the QR code to be invalid is that after adding more debug logic it was discovered that it's specifying an Alphanumeric value of 54, which is outside the allowed range. As a sanity check I used my phone to try to read the QR code and tri

[2022-10-26 22:47] StaniEbo commented on #176
Where can I get the Micro QR code dependency?

[2022-10-27 02:36] lessthanoptimal commented on #176
The last two versions have it included in the 'boofcv-core' module on Maven
Central.

After adding that you should be able to run this example just fine.

ExampleDetectMicroQrCode.java
<https://github.com/lessthanoptimal/BoofCV/blob/SNAPSHOT/examples/src/main/java/boofcv/examples/fiducial/ExampleDetectMicroQrCode.java>

On Wed, Oct 26, 2022 at 3:47 PM StaniEbo ***@***.***> wrote:

--
"Now, now my

[2022-10-27 08:16] StaniEbo commented on #176
@lessthanoptimal Whenever I use The QrCode classes I get 3/4 Qrcodes but when I use Micro Qr Code I get none! Is there anyway we can optimise the detection in order to get a 4/4 using both Qrcode and MicroQrCode?

[2022-11-02 22:58] lessthanoptimal commented on #176
One detector for each type of marker. With the current architecture you will need to run each detector independently on the same image.

[2022-11-08 10:03] SherMish commented on #370
I'm having the same issue. Adding the inclusion lines doesn't seem to help.
@seankim1311 Did you solve the problem?

[2022-11-08 10:27] zvibazak commented on #370
@lessthanoptimal we also have this issue.
We can't integrate Firebase and BOOFCV in the same project.

[2022-11-08 15:52] lessthanoptimal commented on #370
@zvibazak  and @seankim1311 can someone share a simple project that I can replicate the issue with? I think @SherMish  has a work around, but worried it might be hiding an issue where conflicting jars are included at runtime.

[2022-11-16 22:37] reconman commented on #103
Found the same issue just now, will this ever get fixed?

Can be reproduced with ExampleTemplateMatching by setting the `expectedMatches` parameter to 1000 for one of the images.

[2022-11-25 02:00] ruimelodev commented on #375
I'm aware it's an invalid QR code, sorry I didn't mention that before. The reason why I opened up an issue for it was because I was expecting the detector to return an empty result instead of throwing an exception.

I have another file where another exception is thrown with error `An error occurred while calling o767.process.`:
[code]

[2022-11-25 22:21] lessthanoptimal commented on #375
Could you share the image so I can verify that it has been fixed? I'll do a small release in the next week or so to get these bug fixes out.

[2022-11-25 22:25] lessthanoptimal commented on #103
@reconman Just tried that and nothing went wrong.

`drawRectangles(g2, image, templateCursor, maskCursor, 1000);`

Could you upload the modified example so I can replicate it? Thanks!

[2022-11-25 22:30] lessthanoptimal commented on #103
If you're not using BoofCV 0.41 the switch to that.

[2022-11-28 03:25] ruimelodev commented on #375
Unfortunately, I can't replicate the second error, I only have that stack trace from my logs.